{
  "ui": {
    "theme": "dark",
    "font_family": "Arial",
    "font_size": 12,
    "window_geometry": {
      "main": "500x350",
      "test": "600x800",
      "result": "900x700"
    }
  },
  "openai": {
    "model": "gpt-4o",
    "temperature": 0.1,
    "max_tokens": 2000
  },
  "paths": {
    "results_folder": "results",
    "words_folder": "words"
  },
  "recent_files": []
}
